
    <form id="myForm" action="index.php" method="post">
      <table>
        <tr>
          <td><span>first name: </span></td>
          <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
          <td><span>last name: </span></td>
          <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
          <td><span>e-mail: </span></td>
          <td><input type="email" name="email" /></td>
        </tr>
        <tr>
          <td><span>job type: </span></td>
          <td>
            <select  name="jobtype"  >
            <option value="" selected disabled ></option>
            <option value="frontend">front end</option>
            <option value="backend">back end</option>
          </select>
        </td>
        </tr>
        <tr>
          <td><span>salary: </span></td>
          <td><input type="number" name="salary"></td>
        </tr>
        <tr>
          <td><span>your age: </span></td>
          <td>
            <select id="age" name="age">
              <option value="" selected disabled ></option>
            </select>
          </td>
        </tr>
        <tr>
          <td><span>sign up for newsletter </span></td>
          <td><input type="checkbox" name="checkbox" value="iAccept" checked></td>
        </tr>
        <tr>
          <td><span>praksa: </span></td>
          <td>
            <select  name="praksa">
              <option value="" selected disabled ></option>
              <option value="studio present">studio present</option>
              <option value="icb tech">icb tech</option>
              <option value="info stud">info stud</option>

            </select>
          </td>
        </tr>
        <tr>
          <td>message</td>
          <td> <textarea id="textarea" name="textarea" rows="8" cols="40" maxlength="265"></textarea> </td>
        </tr>
        <tr>
          <td></td>
          <td><div id="textarea_feedback">

          </div>
        </td>
        </tr>




      </table>








      <button type="submit" name="button">submit</button>
    </form>
    <script type="text/javascript">
    $("#myForm").validate({
      rules: {
        //simple rule, converted to  {required:true}
        firstName: {
          required: true,
          minlength: 5,
          maxlength: 10
        },
        lastName: {
          required: true,
          minlength: 5,
          maxlength: 10
        },
        //compound rule
        email: {
          required: true,
          email: true
        },
        jobtype: {
          required: true
        },
        salary: {
          number: true,
          max: 2000,
          required: true
        },
        age: {
          required: true
        },
        textarea: {
          maxlength: 265
        },


      },
      messages: {
        firstName: {
          required: " please specify your name",
          minlength: jQuery.validator.format("at least {0} characters")
        },
        lastName: {
          required: " please specify your name",
          minlength: jQuery.validator.format("at least {0} characters")
        },
        email: {
          required: " we need your email adress",
          email: " your email adress must be in the format of nesto@nesto.com "
        },
        jobtype: {
          required: " select you salary",
        },
        salary: {
          max: " ti si lud",
          required: " write down your salary",
        },
        age: {
          required: " select your age",
        },
        textarea: {
          maxlength: "you have reached the limit",
        }
      }
    });


    $(function(){
      var $select = $("#age");
      for (i=18;i<=99;i++){
          $select.append($('<option></option>').val(i).html(i))
      }
    });

    $(document).ready(function(){
            $("#textarea").on("input", function (){
                var remaining = 265 - $("#textarea").val().length;
                $("#textarea_feedback").text( "chars left " + remaining);
            });
        });


    </script>
